:root {
    margin: 60px;
    text-align: center;
}

.taskTwo {
    position: relative;
    display: inline-block;
    cursor: pointer;
}


.taskTwo__tooltip {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
}

.taskTwo:hover .taskTwo__tooltip {
    visibility: visible;
    opacity: 1;
}
